replicaCount: 3

image:
  repository: nginx
  tag: "1.25"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ports:
  - name: http
    containerPort: 80
  - name: https
    containerPort: 443

serviceAccount:
  create: true
  name: my-service-account

env: production
debug: false
